<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <meta name="description" content={{ description }}>
    <meta name="author" content="Andrew Lum">
    <link rel="stylesheet" type="text/css" href='/css/styles.css'>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <div>
            <a href="/">Andrew Lum</a>
          </div>
          <div>
            <a href="https://linkedin.com/in/andlum">LinkedIn</a>
            <a href="https://github.com/andlum">Github</a>
          </div>
        </nav>
      </header>
      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
