<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content={{ description }}>
    <meta name="author" content="Andrew Lum">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>{{ page.url | getVueComponentCssForPage }}</style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <div>
            <a href="/">Andrew Lum</a>
          </div>
          <div>
            <a href="https://linkedin.com/in/andlum">LinkedIn</a>
            <a href="https://github.com/andlum">Github</a>
          </div>
        </nav>
      </header>
      {{ content }}
    </div>
  </body>
</html>
