:root {
  /* Color Palette */
  --color-black: #001858;
  --color-off-black: #172c66;
  --color-beige: #f3d2c1;
  --color-blue: #8bd3dd;
  --color-pink: #f582ae;
  --color-white: #fffffe;

  /* UI Colors */
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-pink);
  --color-tertiary: var(--color-beige);
  --color-headline-text: var(--color-black);
  --color-body-text: var(--color-off-black);
  --color-background: var(--color-white);
}

* {
  box-sizing: border-box;
}

/* Typography Space Reset */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: var(--color-headline-text);
  line-height: 1.15em;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 300ms ease;
}

a:hover {
  color: var(--color-secondary);
}

body {
  /* Reset */
  margin: 0;

  /* Body Styles */
  color: var(--color-body-text);
  font-size: 1.5rem;
  line-height: 1.6em;

  font-family: sans-serif;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.25rem;
  }
}
